
<%= render 'static_pages/sections/header' %>
<%= render 'static_pages/sections/intro' %>
<%= render 'static_pages/sections/work_history' %>
<%= render 'static_pages/sections/portfolio' %>
<%= render 'static_pages/sections/skillset' %>
<%= render 'static_pages/sections/about' %>
<%= render 'static_pages/sections/contact' %>
<%= render 'static_pages/sections/footer' %>

 
  
  

