<section id="about" class="wrapper white">
    <div class="row">
        <div class="medium-12 columns">
            <div class="circle grey"><i class="fa fa-user fa-5x centered"></i></div>
            <h2>About me</h2>
            <p>
                I am a freelance web developer at Miami, FL. searching for new opportunities in the expansion of my career as an expertise of technology.  

                Since 2013, I started my work as a Freelancer, working a side with high know technology-marketing german companies, supporting in the optimization, conception and developing of these prestigious entities.  
                My professional experience obtained during these years plus my language (German, English, Spanish, French) capabilities, ability to manage projects, teamplayer, strong social skills, may offer you a complete web solutions from identifying the problem to come out with the best solution which fits your expectations.  Although, I will guide you through every step in your web project from creating a new idea, concept, analysis of requirements, design and prototyping, construction and testing, deployment and evuation and last but not less important maintenance of your website.  
            </p>
        </div>
    </div>
    <div class="row about-element">
        <div class="medium-6 columns">
            <div class="circle-small"><i class="fa fa-graduation-cap fa-3x centered"></i></div>
            <h4>Education</h4>
            <p>
                I studied Computer Science at the University of Applied Science in Bonn, Germany. I have a Computer Science Expert Certificate, a Technical State Certificate from Germany as an IT Assistant and I am currently attending Hagen University to get a B.Sc. Business Informatic.
            </p>
        </div>
    
        <div class="medium-6 columns">
            <div class="circle-small"><i class="fa fa-map-marker fa-3x centered"></i></div>
            <h4>Location</h4>
            <p>
                <% if @geoip.country_name == "United States" %>
                I was born in the Cologne Area, lived and worked there for over 30 years.
                In the beginning of 2015, I came to Miami, fell in love with the city and I decided to stay here.
                <% else %>
                I was born in the Cologne Area, lived and worked there for over 30 years.
                In the beginning of 2015, I came to Miami, fell in love with the city and I decided to stay here.
                <% end %>
            </p>
        </div>
    </div>
    <div class="row about-element">
        <div class="medium-6 columns">
            <div class="circle-small"><i class="fa fa-heart fa-3x centered"></i></div>
            <h4>What I love</h4>
            <p>
                I love to keep my self fit and healthy, go skiing (ok Miami is too hot and too flat for that), driving and fixing my motorcycles and the art of taking photographs.
            </p>
        </div>
        <div class="medium-6 columns">
            <div class="circle-small"><i class="fa fa-user-plus fa-3x centered"></i></div>
            <h4>Why you should hire me?</h4>
            <p>
                 I'm never satisfied with the "status quo". I prefer technical clean and handy solution providing a good user and developer experience. Each line of code I write, each decision I take and each concept diagram I draw, I do it with only one purpose: To improve myself and your web solution!
            </p>
        </div>
    </div>
</section>