<section id="contact_me" class="contact wrapper">
  <div class="row">
    <div  class="medium-12 columns">
    <div class="circle"><i class="fa fa-envelope fa-5x centered"></i></div>
            <h2>Contact me</h2>
            
    </div>
  </div>
  <div class="row">
  <div class="medium-4  columns ">
  
  <h4>Drop me a message!</h4>
  <i class="fa fa-arrow-right fa-5x show-for-medium-up bounce-right"></i>
  <i class="fa fa-arrow-down fa-5x show-for-small-only bounce-bottom"></i>
  <div class="show-for-medium-up">
  <hr />
  <p>Follow me on</p>
  <div class="social">
  <a href="https://twitter.com/Jamsven" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Jamsven</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  <hr />
  <p>Meet me at</p>
  <div class="social">
  <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/dominik-knafelj/52/373/62b" data-format="hover" data-text="Dominik Knafelj"></script>
</div>
  </div>
  </div>
    <div id="contact" class="medium-8 columns ">
    <div class="panel mathead">
    <i class="fa fa-3x fa-refresh fa-spin loader"></i>
    <%= render 'contacts/form' %>
    </div>
    <div class="show-for-small-only">
  
  <p>Follow me on</p>
  <div class="social">
  <a href="https://twitter.com/Jamsven" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Jamsven</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  <hr />
  <p>Meet me at</p>
  <div class="social">
  <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/dominik-knafelj/52/373/62b" data-format="hover" data-text="Dominik Knafelj"></script>
</div>
  </div>
  </div>
    </div>
  </div>
</section>