  <footer class="copy">

    <div class="row">

      <div class="medium-12 columns centered">

        <p>© <%=Time.zone.now.year %> Copyright Dominik Knafelj. All rights reserved.</p>
        
      </div>
    </div>

  </footer>