<header class="mathead fixed">
    <div class="row">
        <nav class="top-bar" data-topbar="">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Dominik Knafelj</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">

                <ul id="navigation" class="right">
                    <li><a href="#intro">Home</a></li>
                    <li><a href="#history">Employment History</a></li>
                    <li><a href="#references">Projects</a></li>
                    <li><a href="#skillset">Skills</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact_me">Contact</a></li>
                </ul>

            </section>
        </nav>
    </div>
</header>