<section id="intro" class="intro">
    <div class="centered">
        <div class=" columns ">
            <div class="circle profile"></div>
            <h2>Dominik Knafelj</h2>
            <p>Hi, I'm a German <span class="big">Web Developer</span> in <span class="big">Miami, FL.</span></p>
            <p><a href="#contact_me" class="button small alert radius">Drop Me A Line</a></p>
        </div>
    </div>
</section>