<section id="references" class="wrapper white">
    <div class="row">
        <div class="medium-12 columns">
            <div class="circle grey"><i class="fa fa-road fa-5x centered"></i></div>
            <h2>Projects</h2>
            <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-3" data-clearing>
                <li><a href="<%= asset_path 'Referenzen/real.png' %>" class="th"><%= image_tag("Referenzen/real.jpg", :data => { :caption => 'www.real.de'}   )%></a>
                    <p>Development & Conception for functional extensions. Web service development for Apps. Technical documentation. Service to Opta Sportsdata. Fact finder facettes search service integration.</p>
                </li>
                <li>
                    <a href="<%= asset_path 'Referenzen/abolust.png' %>" class="th"><%= image_tag("Referenzen/abolust.jpg", :data => { :caption => 'www.abolust.de'}  )%></a>
                    <p>Development & Conception for a central web service to publish online vouchers to several websites.</p>
                </li>
                <li><a href="<%= asset_path 'Referenzen/academic.png' %>"class="th"><%= image_tag("Referenzen/academic.jpg" , :data => { :caption => 'www.academic-embassy.de'}  )%></a>
                    <p> Conception, development, search engine optimization and project management for a dynamic website</p>
                </li>
                <li><a href="<%= asset_path 'Referenzen/apo.png' %>"class="th"><%= image_tag("Referenzen/apo.jpg" , :data => { :caption => 'www.apoasset.de'}  )%></a>
                <p> Conception, development, search engine optimization and project management for a dynamic website</p></li>
                <li><a href="<%= asset_path 'Referenzen/experto.png' %>"class="th"><%= image_tag("Referenzen/experto.jpg" , :data => { :caption => 'www.experto.de/onlineshop'}  )%></a>
                <p>Development & Conception for functional extensions. Paypal integration.</p></li>
            </ul>
        </div>
    </div>
</section>