<section id="skillset" class="wrapper ">
    <div class="row">
        <div class="medium-12 columns">
            <div class="circle"><i class="fa fa-cogs fa-5x centered"></i></div>
            <h2>My Skills</h2>
            <p>Since 2002, I have been developing my professional experience in the wide field of technology from the first steps of learning the fundamentals of programming in C/C++, Java, TurboPascal, LaTeX, Haskell and other amazing software were crossing during my career.  My highlight skills as a Web Developer are:  
            </p>
            <ul class=" large-block-grid-6 medium-block-grid-3 small-block-grid-2 skillset-grid" >
                <li><div class="circle-small"><i class="fa fa-html5 fa-3x  centered"></i></div><h5>HTML5</h5></li>
                <li><div class="circle-small"><i class="fa fa-css3 fa-3x  centered"></i></div><h5>CSS3</h5></li>
                <li><div class="circle-small"><i class="fa fa-diamond fa-3x  centered"></i></div><h5>Ruby on Rails</h5></li>
                <li><div class="circle-small"><i class="fa  fa-2x  centered">PHP</i></div><h5>PHP</h5></li>
                <li><div class="circle-small"><i class="fa  fa-2x  centered">.js</i></div><h5>JavaScript</h5></li>
                <li><div class="circle-small"><i class="fa fa-newspaper-o fa-3x  centered"></i></div><h5>TYPO3-CMS</h5></li>
                <li><div class="circle-small"><i class="fa fa-list-ul fa-3x  centered"></i></div><h5>Test Driven Development</h5></li>
                <li><div class="circle-small"><i class="fa  fa-2x  centered">MVC</i></div><h5>MVC-Pattern</h5></li>
                <li><div class="circle-small"><i class="fa fa-git fa-3x  centered"></i></div><h5>GIT</h5></li>
                <li><div class="circle-small"><i class="fa fa-mercury fa-3x  centered"></i></div><h5>Mercurial</h5></li>
                <li><div class="circle-small"><i class="fa fa-compass fa-3x  centered"></i></div><h5>Project Management</h5></li>
                <li><div class="circle-small"><i class="fa fa-rocket fa-3x  centered"></i></div><h5>Agile</h5></li>
                <li><div class="circle-small"><i class="fa fa-linux fa-3x  centered"></i></div><h5>Linux</h5></li>
                <li><div class="circle-small"><i class="fa fa-database fa-3x  centered"></i></div><h5>mySQL</h5></li>
                <li><div class="circle-small"><i class="fa  fa-4x  centered">&</i></div><h5>more...</h5></li>
            </ul>

        </div>
    </div>
</section>