<section id="history" class="work-history wrapper">
    <div class="row">
        <div class="medium-12 medium-centered columns">
            <div class="circle"><i class="fa fa-briefcase fa-5x centered"></i></div>
            <h2>Employment History</h2>
        </div>
    </div>
    <div class="row  " data-equalizer>
        <div class="medium-4 columns " >
            <div class="panel mathead" data-equalizer-watch>
                <h3>Web Developer</h3>
                <h4 class="work-title">Freelancer</h4>
                <h5 class="work-location"><i class="fa fa-map-marker"></i>&nbsp;Bedburg, Germany & Miami</h5>
                <h6 class="work-duration"><i class="fa fa-clock-o"></i>&nbsp;since 2013</h6>
                <hr />
                <p>Web solution development and conception, e-commerce strategies, web consultation, project management.
                </p><a href="#skillset">Here are my skills!</a>
            </div>
        </div>
        <div class="medium-4 columns" >
            <div class="panel mathead" data-equalizer-watch>
                <h3>Web Developer</h3>
                <h4 class="work-title">wfp:2 GmbH & Co. KG</h4>
                <h5 class="work-location"><i class="fa fa-map-marker"></i>&nbsp;Mönchengladbach, Germany</h5>
                <h6 class="work-duration"><i class="fa fa-clock-o"></i>&nbsp;2014 &mdash; 2015</h6>
                <hr />
                <p>Conception and development of web applications, quality assurance, development of test scenarios, debugging, writing technical and user documentation, user training & support .</p>
            </div>
        </div>
        <div class="medium-4 columns" >
            <div class="panel mathead" data-equalizer-watch>
                <h3>Web Developer</h3>
                <h4 class="work-title">expeer GmbH</h4>
                <h5 class="work-location"><i class="fa fa-map-marker"></i>&nbsp;Bonn, Germany</h5>
                <h6 class="work-duration"><i class="fa fa-clock-o"></i>&nbsp;2010 &mdash; 2013</h6>
                 <hr />
                <p>Project Management, SEO-Consultant, conception and development of web applications, head of SEO/SEM, quality assurance, development of test scenarios, debugging, writing technical and user documentation, train & support user.</p>
            </div>
        </div>
    </div>
</section>