<%= simple_form_for(@contact, remote: true) do | f | %>
<div class="row ">
  
  <div class="large-12  columns ">
    <%= f.input :name, label: 'Name:'%>
    <%= f.input :email, label: 'Email:', required: true%>
    <%= f.input :message, as: :text, label: 'Message:', required: true, :input_html => {:rows => 10} %>
  <%= f.button :submit, 'contact now', class: 'button left'%>
  </div>
  
  
</div>

<% end %>