/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 @import "foundation_and_overrides";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 */

 @mixin vert-align(){
  margin: 0 auto;
  &:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    
  }
  .centered{
  display: inline-block;
  vertical-align: middle;
  }
}


@mixin circle-generator($radius){
  @include vert-align();
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: $radius;
  height: $radius;
   /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;
}

.row{
  text-align: center;
}


.mathead {
  background-color: #fff;
  box-shadow: 0 4px #e8e8e8;
}

.title-area{
  .name{
    a{
      color: #008CBA !important;
      font-family: 'Kalam', cursive;
    }
  }
}

.intro {
  background-color: transparent;
  text-align: center;
  padding: 4.375rem 0 5.938rem;
    height: 50rem;
  background-image: asset-url("intro.jpg");
    background-position: center;
    background-repeat: no-repeat;
    *{
      color: #fff;
      font-family: "Didact Gothic", sans-serif;
    }
    p{
      font-size: 1.4rem;
    }
    h2, span.big{font-family: 'Kalam', cursive;}
    span.big{ font-size: 2.3125rem; }
    span.small{ font-size: 1.4rem;}
  @include vert-align();
}

.button.alert {
  box-shadow: 0 4px #d92a0d;
}

.work-history{
 .panel{
  border: none;
  .work-title{
    font-style: italic;
  }


 }
}

  .fa{
    color: #008CBA;
  }

  .skillset-grid, .about-element{
    .fa{
      color: #fff;
    }
    .circle-small{
      background-color: #008CBA;
    }
    
  }
.skillset-grid{
  p{
      font-family: 'Didact Gothic', sans-serif;
    }
}


  

.circle{
  @include circle-generator(8rem);
}
.circle-small{
  @include circle-generator(6rem);
}

.profile{
    background-image: asset-url("profil.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.grey{
  background-color:#f4f4f4;
}
.white{
  background-color: #fff;
}

.wrapper {
    text-align: center;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: 3.125rem 0 4.375rem;
}

.contact{
  
  p{
    font-family: "Didact Gothic", sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
  }
  .row label{
  font-size: 1rem;
  font-family: "Didact Gothic", sans-serif;
  text-align: left;
}
}



 @keyframes bounce-right {
  0%, 20%, 50%, 80%, 100% { right:0px;}
  40% {right: -30px;}
  60% {right: -15px;}
}
 @keyframes bounce-bottom {
  0%, 20%, 50%, 80%, 100% { bottom:0px;}
  40% {bottom: -40px;}
  60% {bottom: -15px;}
}
@mixin arrow-bouncer($direction){
  position: relative;
  animation-name: bounce-#{$direction};
  animation-iteration-count: infinite;
  animation-duration: 4s;
  margin-bottom: 1.25rem;
}

.bounce-bottom {
  @include arrow-bouncer(bottom);
  z-index: 77;
  
}

.bounce-right {
  @include arrow-bouncer(right);  
}

.social{
  margin-bottom: 1.25rem;
}
.loader{
  display: none;
}


footer{
  background-color: #222;
  color: #fff;
  .row{
  @include vert-align();
  p{
    margin-bottom: 0;
  }
  }
}

@media only screen and (max-width: 40em) 
{
  #intro{
    height: auto;
    padding-bottom: 0;
  }
}




