<meta name="description" content="Web developer offering Ruby on Rails & PHP development based in Miami, Fl. More than <%=Time.zone.now.year - 2010%> years of full-stack development experience" />
<meta name="keywords" content="web development, web solutions, freelancer, ruby, ruby on rails, php, TYPO3, eCommerce, HTML5, CSS3, Javascript, jQuery, eMarketing, SEO ,consultant, quality ,Miami, German, English, Spanish " />