<meta property="og:title" content="Dominik Knafelj Web Solutions" />
<meta property="og:description" content="Web developer offering Ruby on Rails & PHP development based in Miami, Fl. More than <%=Time.zone.now.year - 2010%> years of full-stack development experience" />
<meta property="og:url" content="http://www.knafel-websolutions.com" />
<meta property="og:type" content="website" />
<meta property="og:image" content="<%= asset_url 'favicomatic/facebook.png' %>" />